{% extends 'app/base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
 <h1 class="mb-4 text-center text-primary">📬 Сервис рассылок</h1>

<div class="row g-3">
  <div class="col-md-4">
    <a href="{% url 'app:campaign_list' %}" class="text-decoration-none">
      <div class="card border-primary shadow rounded-3 animate_animated animate_bounce h-100">
        <div class="card-body">
          <h5 class="card-title text-primary">Всего рассылок</h5>
          <p class="card-text display-5"> {{ total_campaigns }}
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4">
  <a href="{% url 'app:campaign_active' %}" class="text-decoration-none">
    <div class="card border-success shadow rounded-3 animate_animated animate_bounce h-100">
      <div class="card-body">
        <h5 class="card-title text-success">Активных рассылок</h5>
        <p class="card-text display-5">{{ active_campaigns_count }}</p>
      </div>
    </div>
  </a>
</div>
  <div class="col-md-4">
    <a href="{% url 'app:recipient_list' %}" class="text-decoration-none">
      <div class="card border-info shadow rounded-3 animate_animated animate_bounce h-100">
        <div class="card-body">
          <h5 class="card-title text-info">Уникальных клиентов</h5>
          <p class="card-text display-5">{{ unique_recipients }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="mt-5 text-center">
  <a href="{% url 'app:recipient_list' %}" class="btn btn-outline-primary btn-lg">👥 Клиенты</a>
  <a href="{% url 'app:messages_list' %}" class="btn btn-outline-secondary btn-lg">💬 Сообщения</a>
  <a href="{% url 'app:campaign_list' %}" class="btn btn-outline-success btn-lg">📨 Рассылки</a>
</div>

<style>
  .card {
    transition: transform 0.2s;
  }
  .card:hover {
    transform: scale(1.05);
  }
</style>
{% endblock %}



