{% extends 'app/base.html' %}
{% block content %}
<div class="container mt-4">
    <form class="card p-4 text-center shadow-sm" method="POST" action="{% url 'app:recipient_update' recipient.id %}">
        {% if recipient %}
            <h1 class="mb-4">📝 Редактирование получателя</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mt-4">
                <button class="btn btn-outline-primary" type="submit">✅ Подтвердить</button>
                <a class="btn btn-outline-secondary ms-2" href="/">🔙 Назад</a>
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}
